<p id="notice"><%= notice %></p>

<h1>Listing Oferta Academica</h1>

<table>
  <thead>
    <tr>
      <th>Oferta periodo</th>
      <th>Nombre seccion</th>
      <th>Docente</th>
      <th>Promedio general</th>
      <th>Nro estudiantes</th>
      <th>Nro estudiantes retirados</th>
      <th>Nro estudiantes aprobados</th>
      <th>Nro estudiantes equivalencia</th>
      <th>Nro estudiantes suficiencia</th>
      <th>Nro estudiantes reparacion</th>
      <th>Nro estudiantes aplazados</th>
      <th>Tipo estatus calificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oferta_academica.each do |oferta_academica| %>
      <tr>
        <td><%= oferta_academica.oferta_periodo %></td>
        <td><%= oferta_academica.nombre_seccion %></td>
        <td><%= oferta_academica.docente %></td>
        <td><%= oferta_academica.promedio_general %></td>
        <td><%= oferta_academica.nro_estudiantes %></td>
        <td><%= oferta_academica.nro_estudiantes_retirados %></td>
        <td><%= oferta_academica.nro_estudiantes_aprobados %></td>
        <td><%= oferta_academica.nro_estudiantes_equivalencia %></td>
        <td><%= oferta_academica.nro_estudiantes_suficiencia %></td>
        <td><%= oferta_academica.nro_estudiantes_reparacion %></td>
        <td><%= oferta_academica.nro_estudiantes_aplazados %></td>
        <td><%= oferta_academica.tipo_estatus_calificacion_id %></td>
        <td><%= link_to 'Show', oferta_academica %></td>
        <td><%= link_to 'Edit', edit_oferta_academica_path(oferta_academica) %></td>
        <td><%= link_to 'Destroy', oferta_academica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oferta academica', new_oferta_academica_path %>
