<p id="notice"><%= notice %></p>

<h1>Listing Consultas</h1>

<table>
  <thead>
    <tr>
      <th>Oferta academica</th>
      <th>Instrumento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultas.each do |consulta| %>
      <tr>
        <td><%= consulta.oferta_academica %></td>
        <td><%= consulta.instrumento %></td>
        <td><%= link_to 'Show', consulta %></td>
        <td><%= link_to 'Edit', edit_consulta_path(consulta) %></td>
        <td><%= link_to 'Destroy', consulta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consulta', new_consulta_path %>
