<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @materia.codigo %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @materia.carrera %>
</p>

<p>
  <strong>Plan nombre:</strong>
  <%= @materia.plan_nombre %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @materia.nombre %>
</p>

<p>
  <strong>Tipo materia:</strong>
  <%= @materia.tipo_materia_id %>
</p>

<p>
  <strong>Grupo nota:</strong>
  <%= @materia.grupo_nota_id %>
</p>

<%= link_to 'Edit', edit_materia_path(@materia) %> |
<%= link_to 'Back', materias_path %>
