<%= form_for(@respuesta) do |f| %>
  <% if @respuesta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@respuesta.errors.count, "error") %> prohibited this respuesta from being saved:</h2>

      <ul>
      <% @respuesta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consulta_id %><br>
    <%= f.text_field :consulta_id %>
  </div>
  <div class="field">
    <%= f.label :pregunta_id %><br>
    <%= f.text_field :pregunta_id %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
