<p id="notice"><%= notice %></p>

<h1>Listing Respuestas</h1>

<table>
  <thead>
    <tr>
      <th>Consulta</th>
      <th>Pregunta</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respuestas.each do |respuesta| %>
      <tr>
        <td><%= respuesta.consulta %></td>
        <td><%= respuesta.pregunta %></td>
        <td><%= respuesta.valor %></td>
        <td><%= link_to 'Show', respuesta %></td>
        <td><%= link_to 'Edit', edit_respuesta_path(respuesta) %></td>
        <td><%= link_to 'Destroy', respuesta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respuesta', new_respuesta_path %>
